@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-neutral-200;
  }

  /* Override scrollbar styles */
  *,
  ::after,
  ::before {
    @apply /* Applied Styles */
    [&::-webkit-scrollbar]:w-1
    [&::-webkit-scrollbar]:h-1
    [&::-webkit-scrollbar-track]:bg-neutral-100
    [&::-webkit-scrollbar-thumb]:bg-neutral-300
    dark:[&::-webkit-scrollbar-track]:bg-neutral-700
    dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
  }

  /* Set cursor to pointer for all buttons and elements with role="button" */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

/* Override injected styles */
body {
  @apply font-sans text-sm bg-white dark:bg-neutral-800 dark:text-white;
}
